:root {
    --wording-color: rgb(105, 139, 189);
}

/*apply universal styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*apply body font styloing*/
body {
    font-family: Arial, Helvetica, sans-serif;

}
header {
    background-image: url("../images/william-daigneault-Cd84YdL9px8-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 25px;
}
header h1 {
    color: var(--wording-color);
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--wording-color);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;

}
.hero {
    background-image: url(../images/william-daigneault-Cd84YdL9px8-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hero h2 {
    color: var(--wording-color);
}
.me {
    display: flex;
    padding: 50px;
    color: var(--wording-color);
}

.flex-row-about-me {
    flex: 1;
    flex-wrap: wrap;
    padding-right: 25px;
    text-align: center;
}

.flex-row-description {
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    border-left: 5px solid var(--wording-color);
    padding-left: 10px;

}

.work {
    display: flex;
    padding: 50px;
    color: var(--wording-color);
}

.my-work {
    display: flex;
    padding-right: 25px;
}


.work-pictures {
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-left: 5px solid var(--wording-color);
    padding-left: 10px;
}
img {
    height: 250px;
    width: 350px;
}
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 25px;
}
footer h2 {
        color: var(--wording-color);
        margin: 0;
        font-size: 35px;
}
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}
footer nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}
footer a {
    text-decoration: none;
    color: var(--wording-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    .me h2 {
        text-align: center;
    }
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width:768px) {
.flex-row-about-me h2 {
    text-align: center;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
.flex-row-about-me h2 p {
    max-width: 25%;
}
.work {
    text-align: center;
}