:root {
    --wording-color: rgb(105, 139, 189);
}

/*apply universal styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*apply body font styloing*/
body {
    font-family: Arial, Helvetica, sans-serif;

}
header {
    background-image: url("../images/—Pngtree—abstract\ blue\ and\ white\ background_322099.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 25px;
}
header h1 {
    color: var(--wording-color);
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--wording-color);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;

}
.me {
    display: flex;
    padding: 50px;
    color: var(--wording-color);
    text-align: right;
}

.flex-row-about-me {
    flex: 1;
    flex-wrap: wrap;
    padding-right: 25px;
    text-align: center;
}

.flex-row-description {
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    border-left: 5px solid var(--wording-color);
    padding-left: 10px;

}

.work-board {
    display: flex;
}

.work {
    display: flex;
    padding: 50px;
    color: var(--wording-color);
}


.pictures {
    display: flex;
    flex-wrap: wrap;
    border-left: 5px solid var(--wording-color);
    padding-left: 10px;
    justify-content: space-evenly
}



/*
.item {
    height: 250px;
    width: 250px;
}
*/
